# Dependencies
node_modules

# Build outputs
dist
dist-ssr
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# Testing
coverage

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# App-specific
apps/api/storage/*
!apps/api/storage/.gitkeep
